@import url(reveal.js/lib/font/source-sans-pro/source-sans-pro.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  font-family: 'Source Sans Pro', sans-serif !important;
	color: #23373B !important;
}

/* Section style */
.reveal .slides section, .reveal .slides section > section {
	height: 100%;
	padding: 3%;
	box-sizing: border-box;
	flex-direction: column;
	border: 1px solid red;
}

/* Section styles */
.center {	justify-content: center; align-items: center; }

.reveal .slides section.title {
	padding-top: 6%;
}

.title > h1 {
	position: absolute;
	top: 1.5%;
	left: 1.5%;
}

.space-around {	justify-content: space-around; }
.space-between {	justify-content: space-between; }
.space-evenly {	justify-content: space-evenly; }

.grow { flex-grow: 1; align-self: stretch;}
.stretch { align-self: stretch; justify-self: stretch; object-fit: contain; }

/* Custom classes */
img {
	object-fit: contain;
	margin: 0;
}

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.grid {
	display: grid;
	place-items: center;
}

.gaa { grid-template-columns: auto auto; }
.g11 { grid-template-columns: 1fr 1fr; }
.g21 { grid-template-columns: 2fr 1fr; }
.g31 { grid-template-columns: 3fr 1fr; }
.g32 { grid-template-columns: 3fr 2fr; }

.grid-titlepage {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	place-items: center;
}

.light {
	color: white;
}

.math > .mjx-chtml.MJXc-display{
	margin: 0;
}

.hl1 {
	color: mediumvioletred;
}

.hl2 {
	color: aqua;
}

.hl3 {
	color: sandybrown;
}

